@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.react-datepicker__input-container input {
  color: rgb(17 24 39); /* text-gray-900 */
  opacity: 1;

  &::placeholder {
    color: rgb(107 114 128 / var(--tw-text-opacity, 1)); /* text-gray-500 */
  }
}
